Repository firehydrant/terraform-provider-firehydrant, pull requests merged in 2022-02, with the labels that each got.

#22 Add basic PR template
  .github/pull_request_template.md
Labels: documentation

#24 Add add_on_alert field to services resource
  .github/workflows/ci.yml
  .gitignore
  docs/data-sources/service.md
  docs/resources/service.md
  firehydrant/client.go
  firehydrant/runbook_actions.go
  firehydrant/types.go
  provider/provider.go
  provider/service_data.go
  provider/service_resources.go
Labels: documentation, enhancement, resource, data source

#26 Update documentation for r/team
  docs/resources/team.md
Labels: documentation, resource

#28 Add examples to the documentation for d/service, d/services, and r/service
  docs/data-sources/service.md
  docs/data-sources/services.md
  docs/resources/service.md
Labels: documentation

#23 Add owner attribute to r/service, d/service, & d/services
  .gitignore
  CHANGELOG.md
  docs/data-sources/service.md
  docs/data-sources/services.md
  docs/resources/service.md
  firehydrant/types.go
  provider/service_data.go
  provider/service_data_test.go
  provider/service_resources.go
  provider/service_resources_test.go
  provider/services_data_test.go
Labels: documentation, enhancement, resource, data source

#32 Refactor r/service, d/service, and d/services
  provider/service_data.go
  provider/service_resource.go
  provider/service_resource_test.go
  provider/services_data.go
Labels: resource, data source

#48 Improvements to building provider for local development
  .gitignore
  Makefile
  README.md
  local/bin/.keep
  local/examples/.keep
  local/examples/dev_terraformrc.example
Labels: documentation, enhancement

#31 Deprecate services attribute in favor of service_ids on r/team
  CHANGELOG.md
  docs/resources/team.md
  firehydrant/types.go
  provider/team_resource.go
  provider/team_resource_test.go
  provider/teams_test.go
Labels: bug, documentation, deprecation, resource

#50 Add test for checking if a team has been destroyed properly
  provider/team_resource_test.go
Labels: resource
