Repository firehydrant/terraform-provider-firehydrant, pull requests merged in 2022-07, with the labels that each got.

#73 r/priority & d/priority cleanup
  CHANGELOG.md
  docs/data-sources/priority.md
  docs/resources/priority.md
  docs/resources/severity.md
  provider/priority_resource.go
Labels: documentation, resource

#67 Refactor d/runbook & r/runbook for clarity and consistency
  provider/runbook_data.go
  provider/runbook_resource.go
Labels: resource, data source

#76 Add support for owner_id for runbook
  CHANGELOG.md
  docs/data-sources/runbook.md
  docs/resources/runbook.md
  firehydrant/runbooks.go
  firehydrant/types.go
  provider/runbook_data.go
  provider/runbook_data_test.go
  provider/runbook_resource.go
  provider/runbook_resource_test.go
Labels: documentation, enhancement, resource, data source

#74 Add logging and more detailed error messages to d/runbook_action, d/runbook, and r/runbook
  CHANGELOG.md
  go.mod
  provider/runbook_action_data.go
  provider/runbook_data.go
  provider/runbook_resource.go
Labels: enhancement, resource, data source

#79 Change r/runbook step config attribute type to a JSON string
  CHANGELOG.md
  docs/resources/runbook.md
  examples/runbooks.tf
  firehydrant/runbooks.go
  provider/runbook_data_test.go
  provider/runbook_resource.go
  provider/runbook_resource_test.go
Labels: documentation, enhancement, breaking change, resource

#80 Miscellaneous runbook fixes
  CHANGELOG.md
  docs/resources/runbook.md
  examples/runbooks.tf
  firehydrant/runbooks.go
  provider/runbook_data_test.go
  provider/runbook_resource.go
  provider/runbook_resource_test.go
Labels: bug, documentation, breaking change, resource, data source

#82 runbook add support for runbook attachment
  CHANGELOG.md
  docs/data-sources/runbook.md
  docs/resources/runbook.md
  examples/runbooks.tf
  firehydrant/runbooks.go
  provider/runbook_data.go
  provider/runbook_data_test.go
  provider/runbook_resource.go
  provider/runbook_resource_test.go
Labels: documentation, enhancement, resource, data source

#83 r/runbook: Set steps automatic attribute to have a default of false
  CHANGELOG.md
  docs/resources/runbook.md
  provider/runbook_resource.go
  provider/runbook_resource_test.go
Labels: documentation, resource

#84 Runbook add support for steps rule attribute
  CHANGELOG.md
  docs/resources/runbook.md
  examples/runbooks.tf
  firehydrant/runbooks.go
  provider/runbook_resource.go
  provider/runbook_resource_test.go
Labels: documentation, enhancement, resource

#86 r/runbook: Add default value for runbook attachment_rule
  docs/resources/runbook.md
  firehydrant/runbooks.go
  provider/runbook_resource.go
  provider/runbook_resource_test.go
Labels: documentation, wip, resource

#85 Add support for task lists
  CHANGELOG.md
  docs/data-sources/task_list.md
  docs/resources/task_list.md
  firehydrant/client.go
  firehydrant/task_lists.go
  provider/provider.go
  provider/task_list_data.go
  provider/task_list_data_test.go
  provider/task_list_resource.go
  provider/task_list_resource_test.go
Labels: documentation, enhancement, resource, data source

#87 Add support for incident roles
  CHANGELOG.md
  docs/data-sources/incident_role.md
  docs/resources/incident_role.md
  firehydrant/client.go
  firehydrant/incident_roles.go
  firehydrant/task_lists.go
  provider/incident_role_data.go
  provider/incident_role_data_test.go
  provider/incident_role_resource.go
  provider/incident_role_resource_test.go
  provider/provider.go
Labels: documentation, enhancement, resource, data source

#92 d/runbook_action: Make type attribute optional
  CHANGELOG.md
  docs/data-sources/runbook_action.md
  firehydrant/runbook_actions.go
  provider/runbook_action_data.go
  provider/runbook_action_data_test.go
Labels: bug, documentation, data source

#89 Add support for service dependencies
  CHANGELOG.md
  docs/resources/service_dependency.md
  firehydrant/client.go
  firehydrant/service_dependencies.go
  provider/provider.go
  provider/service_dependency_resource.go
  provider/service_dependency_resource_test.go
Labels: documentation, enhancement, resource

#88 Refactor r/severity and add d/severity
  CHANGELOG.md
  docs/data-sources/severity.md
  docs/resources/severity.md
  firehydrant/client.go
  firehydrant/severities.go
  firehydrant/types.go
  provider/provider.go
  provider/serverities_test.go
  provider/severity_data.go
  provider/severity_data_test.go
  provider/severity_resource.go
  provider/severity_resource_test.go
Labels: bug, documentation, enhancement, resource, data source

#90 Add logging to d/priority and r/priority
  firehydrant/client.go
  firehydrant/priorities.go
  firehydrant/types.go
  provider/priority_data.go
  provider/priority_resource.go
  provider/priority_resource_test.go
Labels: enhancement, resource, data source

#93 Refactor r/environment and d/environment and add logging
  CHANGELOG.md
  docs/data-sources/environment.md
  docs/resources/environment.md
  firehydrant/client.go
  firehydrant/environments.go
  firehydrant/environments_test.go
  firehydrant/types.go
  provider/environment_data.go
  provider/environment_data_test.go
  provider/environment_resource.go
  provider/environment_resource_test.go
Labels: enhancement, resource, data source

#94 Remove deprecated `services` attribute from r/functionality and add logging to d/functionality & r/functionality
  CHANGELOG.md
  docs/data-sources/functionality.md
  docs/resources/functionality.md
  firehydrant/client.go
  firehydrant/functionalities.go
  firehydrant/types.go
  provider/functionality_data.go
  provider/functionality_resource.go
  provider/functionality_resource_test.go
Labels: documentation, enhancement, breaking change, resource, data source

#96 Add logging to the rest of the provider
  CHANGELOG.md
  provider/service_data.go
  provider/service_resource.go
  provider/services_data.go
  provider/team_resource.go
Labels: enhancement, resource, data source
