Repository firehydrant/terraform-provider-firehydrant, pull requests merged in 2022-06, with the labels that each got.

#69 Refactor documentation to match HashiCorp guidelines
  CHANGELOG.md
  docs/data-sources/environment.md
  docs/data-sources/functionality.md
  docs/data-sources/runbook.md
  docs/data-sources/runbook_action.md
  docs/data-sources/service.md
  docs/data-sources/services.md
  docs/resources/environment.md
  docs/resources/functionality.md
  docs/resources/runbook.md
  docs/resources/service.md
  docs/resources/severity.md
  docs/resources/team.md
Labels: documentation, resource, data source

#65 feat: Support priorities
  docs/resources/priority.md
  examples/outputs.tf
  examples/priorities.tf
  firehydrant/client.go
  firehydrant/types.go
  provider/priority_data.go
  provider/priority_data_test.go
  provider/priority_resource.go
  provider/priority_resource_test.go
  provider/provider.go
Labels: documentation, enhancement, resource, data source

#63 Duplicate names for web and frontend prevent example from running
  examples/services.tf
Labels: bug, documentation
